{% extends "base.html" %}
{% block head %}
{{ super() }}
<script>var a=99;</script>
{% endblock head %}
{% block title %}Login{% endblock title %}
{% block content%}

<script>
    var wos = { wos }
</script>
<body>
    <h1>Welcome to the work_order select page</h1>
</body>
<form method='post' action={{ url_for('work_order') }} enctype="multipart/form-data">
    {% for item in wos %}
    <input type="checkbox" name= "work_order" value={{item.index}} >{{item.name}}<br>
    &emsp; {{item.time}}<br>
    {% endfor %}
    <p>
        <button type='submit'>Submit</button>
    </p>
</form>
{% endblock content%}